{
  "plugins": ["react-hooks"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-expressions": [
			2,
			{
				"allowShortCircuit": true,
				"allowTernary": true
			}
		]
  }
}
